riemann : 
    host     : localhost
    port     : 5555
    interval : 5
    # use jmx['host'] as reporting host to riemann
    use_jmxhost: false
    # add this prefix to all services
    service_prefix: "datanode."
    # use object name from JMX in service name
    obj_in_service: false

jmx : 
    host : localhost
    port : 8006

defaults : {}

queries : 
  - obj: "java.lang:type=Memory"
    attr: 
      - HeapMemoryUsage:
        - init
        - committed
    tags: [hadoop, jmx]
  
  - obj: "Hadoop:service=DataNode,name=DataNodeActivity-*"
    attr: 
      - ReadBlockOpAvgTime
    tags: [hadoop, jmx]

  - obj: "hadoop:service=JobTracker,name=JobTrackerInfo"
    attr: 
      - SummaryJson:
          # this key contains json data
          - _json: 
            - alive
            - slots/map_slots_used
            - jobs
    tags: [jmx, datanode, hadoop]

