riemann : 
    host     : localhost
    port     : 5555
    interval : 5

jmx : 
    host : localhost
    port : 8006

defaults : {}

queries : 
  - obj: "java.lang:type=Memory"
    attr: 
      - HeapMemoryUsage:
        - init
        - committed
    tags: [hadoop, jmx]
  
  - obj: "Hadoop:service=DataNode,name=DataNodeActivity-*"
    attr: 
      - ReadBlockOpAvgTime

    tags: [hadoop, jmx]

